################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CryptoBudged/bin/Debug
/.vs/CryptoBudged/v15/Server/sqlite3
/CryptoBudged/obj/Debug
/packages
/.vs/CryptoBudged/v15/.suo
